li:first-child{
    color: red;
}
li:last-child{
    color: green;
}
li:nth-child(3n) {
    color: blue;
}
li:empty {
    border: 1px solid blue;
    list-style-type: circle;
    color: blue;
    width: 100px;
}